/**app.wxss**/
@import './style/icon.wxss';

/* 初始化全局样式 */
page,view,text,swiper,swiper-item,image,navigator{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/*定义全局样式*/
page{
  --globalcolor:#FF5700;
  
  font-size: 28rpx;
}
image{
  width: 100%;
}
