/* pages/cart/index.wxss */
page{
  padding-bottom: 70rpx;
}
.shopping_cart {
  .receiving_addressn_no {
    padding: 20rpx;

    button {
      width: 60%;
    }
  }

  .receiving_addressn_yes {
    padding: 20rpx;
    display: flex;
    border-bottom: 2px dotted grey;
    .user_information {
      flex: 5;
      .user_item{
        margin-top: 10rpx;
      }
    }

  }

  .cart_content {
    background-color: #F5F5F5;

    .cart_main {
      padding: 2rpx 10rpx 10rpx 10rpx;

      .cart_item {
        display: flex;
        background-color: white;
        border-radius: 10px;
        margin: 20rpx;
        padding-right: 20rpx;

        

        .cart_img_warp {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20rpx;
          border-radius: 10px;
          background-color: #F5F5F5;

          image {
            width: 80%;
          }
        }

        .cart_info_warp {
          flex: 4;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          navigator {
            .goods_name {
              font-weight: bolder;
              display: -webkit-box;
              overflow: hidden;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .goods_price_warp {
            display: flex;
            justify-content: space-between;

            .goods_price {
              color: var(--themeColor);
              font-size: 34rpx;
            }

            .cart_num_tool {
              display: flex;
              .goods_num {
                width: 85rpx;
                height: 55rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30rpx;
              }
            }
          }
        }
      }
    }
  }

  .footer_tool{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 90rpx;
    background-color: #fff;
    border-top: 1px solid #ccc;
   
    .total_price{
      flex: 5;
      display:flex;
      
      align-items: center;
      .price{
        .price_text{
          color: var(--globalcolor);
          font-size: 30rpx;
          font-weight: bold;
        }
      }
    }
    .order_pay{
      flex: 3;
      display:flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg,#FF740B,#FE6227);
      margin: 5rpx;
      font-size: 30rpx;
      color: #fff;
      border-radius: 40rpx;
      font-weight: 600;
     

    }
  }
}